<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AirSafe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Cheetah.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CryptoSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ExtendedJSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GeoJSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KittenCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MongoKitten.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MongoSocket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Schrodinger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>941C483A1EE5FA0F00D6DDB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941C484C1EE5FA1D00D6DDB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941C485D1EE5FA2B00D6DDB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941C486E1EE5FA5800D6DDB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941C487F1EE5FAE400D6DDB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941C48901EE5FAF400D6DDB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941C48A11EE5FB0100D6DDB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941C48B21EE5FB0F00D6DDB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941C48C31EE5FB1E00D6DDB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94AF266F1ED8B5A500DDCCDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94AF26831ED8B5A500DDCCDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
